<div class="backgrdiv">

<h1 id= "nameprofile"> <%= @profiles.first_name %>'s Profile</h1>
  <div id="mainprofile">
    <ul class="list-group" id="listgroup">
    </div>
      <li class="list-group-item"><p>First Name:</p><%= @profiles.first_name %></li>
      <li class="list-group-item"><p>Age:</p><%= @profiles.age %></li>
      <li class="list-group-item"><p>Favors completed:</p><%= @profiles.favors_completed %></li>
      <li class="list-group-item"><p>Favors offered:</p><%= @profiles.favors_offered %></li>
    </ul>
     
    <hr>
    <div>
       <form class="form-inline my-2 my-lg-0 col-md-1" id="searchfavor">
      <input class="form-control mr-sm-2" type="search" placeholder="Quick Favor" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Request help</button>
    </form>
    </div>
  </div>

<%# <hr> %>
<div id="favorlist">
<h4> Your Open-Favors </h4>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Category</th>
      <th scope="col">Location</th>

    </tr>
  </thead>
  <tbody>
  <%# Code that loops all each user's favors and populates each with the defined categories  %>
    <% @favors.each do |favor|%>
      <tr>
        <th scope="row"><%= favor.created_at.to_date.strftime("%-m/%-d/%Y") %></th>
        <td><%= favor.category %></td>
        <td><%= favor.address %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>