

<h1 align="center" style="background-color: teal;"> <%= @profiles.first_name %>'s Profile</h1>

  <div id="mainprofile">
    <ul class="list-group" id="listgroup">
      <li class="list-group-item"><p>First Name:</p><%= @profiles.first_name %></li>
      <li class="list-group-item"><p>Age:</p><%= @profiles.age %></li>
      <li class="list-group-item"><p>Favors completed:</p><%= @profiles.favors_completed %></li>
      <li class="list-group-item"><p>Favors offered:</p><%= @profiles.favors_offered %></li>
    </ul>
  </div>
<div>
    <form class="form-inline my-2 my-lg-0 col-md-12" id="searchfavor">
      <input class="form-control mr-sm-2" type="search" placeholder="Quick Favor" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Request help</button>
    </form>
    <hr>
</div>
<%# <hr> %>
<div id="favorlist">
<h4> Open Favors List </h4>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Street</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>first</td>
      <td>Otto</td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
   
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
 
    </tr>
  </tbody>
</table>
</div>
<%# <hr> %>
<div id="favorscompleted">
<h4> Favors Completed </h4>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Street</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
   
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
 
    </tr>
  </tbody>
</table>
</div>






<body>
    <footer class="navbar navbar-fixed-bottom navbar-inverse" style="background-color: teal;">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-center" style="background-color: teal;" id="navbar">
            <li><%= link_to "Home",   './profiles#index' %> </li>
            <li><%= link_to "Map", './favors#index', id: "logo" %> </li>
            <li><%= link_to "New Favor", './favors/new', id: "logo" %> </li>
            <li><a rel="nofollow" data-method="delete" href="/users/sign_out">Log Out</a></li>
          </ul>
        </nav>
      </div>
    </footer>
    <div class="container">
    </div>
  </body>