<div class="container">

<h1 id= "nameprofile"> <%= @profiles.first_name %>'s Profile</h1>
 <div>
    <img src="http://i.imgur.com/CrOKjtY.jpg" class="profilepic">
</div>
   <div class="profileinfo">
    <div class="profileinfocontent"> 
   <ul>
      <li class="list-group-item"><p class="profiletext">Name:</p><%= @profiles.name %></li>
      <li class="list-group-item"><p class="profiletext">Age:</p><%= @profiles.age %></li>
      <li class="list-group-item"><p>Favors completed:</p><%= @profiles.favors_completed %></li>
      <li class="list-group-item"><p>Favors offered:</p><%= @profiles.favors_offered %></li>
  </ul>
       </div>
       </div>
    <div>
       <form id="searchfavorbar">
      <input class="form-control mr-sm-2" id="needquickfvtxt" type="search" placeholder="Need a quick favor?" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Create</button>
    </form>
    </div>
  </div>
<div id="favorlist">
<h4 style=>Favors you're assisting with</h4>
<table class="table">
  <thead>
     <tr class="favorassist">
      <th scope="col" >Date</th>
      <th scope="col" class="favorassist">Category</th>
      <th scope="col" class="favorassist">Description</th>
      <th scope="col">Abandon</th>
    </tr>
  </thead>
  <tbody>
  <%# Code that loops all each user's favors and populates each with the defined categories  %>
    <tr>
    <% @favors.each do |favor|%>
      
        <% @performer_favors.each do |favor| %>
         <td><%= favor.created_at.to_date.strftime("%-m/%-d/%Y") %></td>
         <td> <%= favor.category%> </td>
         <td> <%= favor.description%> </td>
            </tr>
        <%end%>
   
    <% end %>
  </tbody>
</table>
</div>
<div id="favorlist">
    <h4> Your Favors-List </h4>
  <table class="table">
     <thead>
     <tr>
        <th scope="col">Date</th>
        <th scope="col">Category</th>
        <th scope="col" id="locationtableyourfavs" > Location</th>
      </tr>
     </thead>
  <tbody>
  <%# Code that loops all each user's favors and populates each with the defined categories  %>
    <% @favors.each do |favor|%>
      <tr>
        <td scope="row"><%= favor.created_at.to_date.strftime("%-m/%-d/%Y") %></td>
        <td><%= favor.category %></td>
        <td><%= favor.address %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

</div>