<div >

<h1 class= "pagemaintitle"> <%= @profiles.first_name %>'s Profile</h1>
  
  <div class="profileinfo">
    <div class="profilepicdiv">
        <img src="http://i.imgur.com/CrOKjtY.jpg" class="profilepic" /> 
    </div>
  
   <div class="profileinfocontent"> 
     <ul class= "card">
        <li class="list-group-item"><p class="profiletext">Name:</p><%= @profiles.name %></li>
        <li class="list-group-item"><p class="profiletext">Age:</p><%= @profiles.age %></li>
        <li class="list-group-item"><p>Favors Received:</p><%=  @approved_favor_count %></li>
        <li class="list-group-item"><p>Favors Given:</p><%= @profiles.favors_offered %></li>
    </ul>
    </div>
  </div>

    
  </div>
<div class="favorlist container mb-2 mr-auto ml-auto">
<h4 style=> Pending Favors </h4>
<table class="table table-hover favortables" >
  <thead>
     <tr class="favorassist">
      <th scope="col" >Date</th>
      <th scope="col" class="favorassist">Category</th>
      <th scope="col" class="favorassist">Description</th>
      <th scope="col">   </th>
    </tr>
  </thead>
  <tbody>
  <%# Code that loops all each user's favors and populates each with the defined categories  %>
    <tr >
        
        <% @performer_favors.each do |favor| %>
         <td><%= favor.created_at.to_date.strftime("%-m/%-d/%Y") %></td>
         <td><p class='<%=favor.category%>'></p> </td>
         <td><%= link_to favor.description, favor_path(favor.id) %> </td>
         <td><%= link_to "Abandon", favor_unclaim_path(:favor_id => favor.id), method: :get, data: { confirm: "Are you sure you want to abandon #{favor.user.profile.name}'s favor?" } , :class=> "btn btn-danger"%></td>
          </tr>
        <%end%>
  </tbody>
</table>
</div>
<div class="favorlist container mb-2 mr-auto ml-auto">
    <h4> Requested Favors </h4>
  <table class="table table-hover favortables">
     <thead>
     <tr class="favorassist">
        <th scope="col">Date</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col" id="locationtableyourfavs" > </th>
        <th scop="col " >  </th>
      </tr>
     </thead>
  <tbody>
  <%# Code that loops all each user's favors and populates each with the defined categories  %>
    <% @favors.each do |favor|%>
      <tr>
        <td scope="row"><%= favor.created_at.to_date.strftime("%-m/%-d/%Y") %></td>
        <td><p class='<%=favor.category%>'></p> </td>
        <td scope="row"><%= link_to favor.description, favor_path(favor.id) %> </td>
         <td >
        <div class="form-group">
        <% unless favor.completed == true %>
          <%= form_tag  checkbox_path do %>
              <%= hidden_field_tag :favor_id,  favor.id %> 
                <%= hidden_field_tag  :completed, true %>
             
              <%= submit_tag "Completed", class: 'btn btn-success' %>
              <% end %>
          <% end %>
          
        </div>
        </td>

        <td><%= link_to "delete", profile_path(:id => favor.id), method: :delete, data: { confirm: 'You are about to delete your favor, are you sure?' } , :class=> "btn btn-danger", style: "text-transform: capitalize" %></td> 

      </tr>
    <% end %>
  </tbody>
</table>
</div>

</div>