<%= form_with url: favors_create_path,  scope: :post do |form| %>

  </div>
        <div class="field col-md-10">
        <%= form.label :category %>
        <%= form.text_field :category %>
  </div>
</div>

  
   <div class="field col-md-10">
        <%= form.label :address %>
        <%= form.text_field :street , placeholder:"Default: Current-Address" %>
    </div>
    <hr>
   <div class="field col-md-10">
        <%= form.label :description %>
        <%= form.text_field :description %>
    </div>
   

<hr>
    <div class="action col-md-10" text-align:center >
        <%= form.submit %>
    </div>
<% end %>