<%= form_with url: favors_create_path,  scope: :post, remote: true do |form| %>

    <%= form.select(:category, Favor.categories.map{ |cat| cat }, {}, class: "custom-select" ) %>

    <div>
        <%= form.label :use_current_location %>
        <%= form.check_box :use_current_location,  id: :favor_use_current_location  %>
    </div>
    <div>
        <%= form.hidden_field :latitude, readonly: true %>
    </div>
    <div >
        <%= form.hidden_field :longitude, readonly: true %>
    </div>
    <div>
        <%= form.label :address %>
        <%= form.text_field :street, class: "text_input"  %>
    </div>
    <div>
        <%= form.label :city %>
        <%= form.text_field :city, class: "text_input" %>
    </div>
    <div>
        <%= form.label :state %>
        <%= form.text_field :state, class: "text_input" %>
    </div>
    <div>
        <%= form.label :country %>
        <%= form.text_field :country, class: "text_input" %>
    </div>
    <div>
        <%= form.label :description %>
        <%= form.text_field :description, class: "text_input" %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>

<script type="text/javascript">
  $('#favor_use_current_location').on('click', function(){
  console.log('it starts')
   if ("geolocation" in navigator) {
    navigator.geolocation.getCurrentPosition(
      // success callback
      (position) => {
        coordinates = [
                        position.coords.longitude,
                        position.coords.latitude
                      ];
        document.getElementById("post_longitude").value = coordinates[0];
        document.getElementById("post_latitude").value = coordinates[1];
      },
      // failure callback
      () => { console.log('Could not get location') },
      // options
      {
        enableHighAccuracy: true,
        maximumAge        : 30000,
        timeout           : 27000
      }
    );
  }
  })
</script>