<div class="cardd">
<div class="card-body">
<body>
<h1>Owner</h1>
   <h2 style="text-transform: capitalize;">
    <%= @favor.user.profile.name %></h2> 
<h1>Description</h1>
    <h2><%= @favor.description %></h2>
<h1>Category</h1>
    <p class="<%= @favor.category %>"</p></h2>
<h1>Address</h1>
    <h2><%= @favor.address %></h2>
<h1>Created at</h1>
    <h2><%= @favor.created_at.to_date.strftime("%-m/%-d/%Y") %></h2>
    <%if @favor.performer %> 
    <hr>
        <h3><%= @favor.performer.profile.first_name %> is on the task!</h3>  

    <% else %>
    <% unless @favor.user_id == current_user.id %>
 <div class="centerbutton">
        <%= form_with(model: @favor) do |form| %>
            <%= hidden_field_tag "performer_id", current_user.id %>
            <%= form.submit "Claim favor" %>
        <% end %>
  <img src="https://media1.tenor.com/images/addfb7eed47bf1413af33d672c06a288/tenor.gif?itemid=12349917" class="center" id="claimitguy">
            
    
    <% end %>
</div>
<% end %>
</div>


