<!DOCTYPE html>
<html>
  <head>
    <title>FavorsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'App' %>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer class="navbar navbar-fixed-bottom navbar-inverse" style="background-color: teal;">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-center" style="background-color: teal;">
            <li><%= link_to "Home",   profiles_path %> </li>
            <li><%= link_to "Map", favors_path, id: "logo" %> </li>
            <li><%= link_to "New Favor", new_favor_path, id: "logo" %> </li>
            <li><a rel="nofollow" data-method="delete" href="/users/sign_out">Log Out</a></li>
          </ul>
        </nav>
      </div>
    </footer>
</html>
